.Dashboard-container {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  background-color: #333;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.Dashboard-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.Dashboard-container h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}
.Dashboard-container p {
  text-align: justify;
}

.Dashboard-container a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}

.Dashboard-container a:hover {
  text-decoration: underline;
}

.Dashboard-container .btn-logout {
  background-color: #f44336;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Dashboard-container .btn-logout:hover {
  background-color: #c62828;
}
